/* Regular */
@font-face {
  font-family: "Sailec";
  src: url("./src/fonts/Sailec\ Light.ttf") format("truetype");
  font-weight: 400;
}

/* Medium */
@font-face {
  font-family: "Sailec";
  src: url("./src/fonts/Sailec\ Medium.ttf") format("truetype");
  font-weight: 500;
}

/* Bold */
@font-face {
  font-family: "Sailec";
  src: url("./src/fonts/Sailec\ Bold.ttf") format("truetype");
  font-weight: 700;
}

/* Thin */
@font-face {
  font-family: "Sailec";
  src: url("./src/fonts/Sailec\ Thin.ttf") format("truetype");
  font-weight: 300;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #7535fd;
  --light-primary: #7535fd;
  --dark-primary: #6200C0;
  --darker-primary: #1c065a;
  --darkest-primary: #1c065a;
  --black: #171717;
  --light-gray: #9a9a9a;
  --gray: #676767;
  --brand-resene: #ffe1d4;
  --white: #ffffff;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-rl: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 28px;
  --font-size-xxl: 32px;
  --radius: 10px
}

* {
  box-sizing: border-box;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Sailec", Helvetica, sans-serif;
  overflow-x: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-align-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  flex-direction: column;
}

.text-thin {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1000;
  overflow: hidden;
  background-color: var(--darker-primary);
}

#preloader #easer {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white);
}

#preloader.ease {
  background-color: var(--white);
}

#preloader-logo-container {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  background-color: var(--white);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#logo {
  max-width: 100px;
  width: 100%;
}

#logo img {
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 100;
  background-color: var(--white);
  transition: transform 0.5s ease 0.3s;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 64px;
}

#navbar-section {
  gap: 24px;
}

.nav-links {
  position: relative;
  gap: 24px;
}

.nav-item {
  cursor: pointer;
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--darker-primary);
}

.nav-item span {
  position: relative;
  font-weight: 500;
}

.chevron-down {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.hover-line-animate::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: var(--primary);
  height: 2px;
  width: 0%;
  transition: width 300ms;
}

.hover-line-animate:hover::after {
  width: 100%;
}

.primary-dd {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  background-color: var(--white);
  position: absolute;
  top: 60px;
  left: 0;
  gap: 20px;
  opacity: 0;
  visibility: hidden;
  z-index: 5000;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.2);
  transition: all 300ms;
}

.nav-item > .primary-dd {
  text-wrap: nowrap;
  gap: 0;
}

.nav-item:first-child > .primary-dd {
  padding-top: 20px;
}

.nav-item:hover + .primary-dd, .nav-item:hover > .primary-dd, .primary-dd:hover {
  visibility: visible;
  opacity: 1;
  top: 40px;
}

.primary-dd .section {
  padding: 10px 40px;
}

.primary-dd .section .title {
  font-size: var(--font-size-sm);
  margin: 0 0 7px;
  color: var(--darkest-primary);
}

.primary-dd ul {
  list-style-type: none;
  padding: 0;
}

.primary-dd ul li {
  position: relative;
  margin: 15px 0;
}

.primary-dd ul li .drpdwn-link {
  position: relative;
  text-decoration: none;
  justify-content: flex-start;
  gap: 10px;
  color: var(--darkest-primary);
  font-size: var(--font-size-sm);
  margin-bottom: 10px;
}

.primary-dd ul li .drpdwn-link span {
  position: relative;
  cursor: pointer;
}

.primary-dd ul li .drpdwn-link .icon svg {
  width: 20px;
  height: 20px;
}

.primary-dd ul li .drpdwn-link .icon svg path {
  fill: var(--darkest-primary);
}

.auth-buttons {
  gap: 16px;
  font-size: var(--font-size-sm);
}

a.cta-btn-purple:hover, a.alt-btn:hover {
  background-color: var(--primary) !important;
  color: white !important;
}

.cta-btn-purple {
  background-color: var(--primary);
  color: white;
  padding: 14px 28px;
  border-radius: var(--radius);
  text-decoration: none;
  transition: all 300ms;
}

.alt-btn {
  background-color: white;
  color: var(--gray);
  padding: 14px 28px;
  border: 1px solid var(--light-gray);
  border-radius: var(--radius);
  text-decoration: none;
  transition: all 300ms;
}

#hamburger {
  position: relative;
  justify-content: space-between;
  width: 22px;
  height: 15px;
  cursor: pointer;
  transition: all 500ms;
}

#hamburger div {
  border-radius: 10px;
  border: 1px solid var(--black);
  width: 100%;
  opacity: 1;
  transition: all 500ms;
}

#hamburger.fold {
  justify-content: center;
  align-items: center;
}

#hamburger.fold #top {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotateZ(45deg);
}

#hamburger.fold #middle {
  width: 0;
}

#hamburger.fold #bottom {
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotateZ(-45deg);
}

#burger-dd {
  position: fixed;
  top: 80px;
  left: 0;
  height: 0;
  width: 100%;
  background: #1f0860e1;
  z-index: 12000;
  overflow: hidden;
  transition: all 500ms;
}

#burger-dd.show {
  height: calc(100vh - 80px);
}

.dd-nav {
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.dd-link {
  height: 0;
  opacity: 1;
  text-decoration: none;
  font-size: 40px;
  font-weight: 800;
  color: #b8b8b8;
  transition: none;
}

main {
  margin-top: 13vh;
}

#hero {
  padding: 0;
  width: 100%;
  height: 150vh;
  border-radius: 0px;
  overflow: hidden;
}

#gradient-canvas {
  margin: 0;
  width:100%;
  height:100%;
  --gradient-color-1: #000000; 
  --gradient-color-2: #000000; 
  --gradient-color-3: var(--dark-primary);  
  --gradient-color-4: #000000;
  z-index:-1;
}

#hero #content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  padding: 5%;
  color: var(--white);
  z-index: 10;
}

#product-hero {
  position: absolute;
  top: 48%;
  background-image: url("/Fincra-Products-hero-3.png");
  background-attachment: fixed;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

#content-grid-item-1 {
  grid-column: span 3;
}

#content-grid-item-1 h2.title {
  font-size: 50px;
}

#content-grid-item-2 {
  grid-column: span 2;
  font-size: 18px
}

#content-grid-item-3 {
  grid-column: span 3;
  gap: 10px;
}

#spacer {
  height: 100px;
  width: 100%;
  background: var(--white);
}

.brand-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 20px 40px;
  gap: 5px;
  width: 80%;
  margin: 0 auto;
}

.brand {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.brand img {
  width: 80%;
}

.border-dark {
  border: 1px solid #000;
}

.split-text-slide-up {
  overflow: hidden;
}

.vid-content-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 5vw;
  gap: 20px;
}

.vid-content-container .content .item {
  height: 90vh;
  margin-left: 10%;
  padding: 10% 2vw;
  width: 30vw;
  margin-bottom: 20px;
  color: var(--darker-primary);
}

.vid-content-container .content .item:first-child {
  margin-top: 15vh;
}

/* .item */ .alt-animate-hover {
  margin-top: 30px;
}

.alt-animate-hover {
  background: transparent;
  border: 1px solid var(--darker-primary);
  cursor: pointer;
  color: var(--darker-primary);
  transition: all 300ms;
}

.alt-animate-hover:hover {
  border: 1px solid var(--primary);
  color: var(--white);
  background: var(--primary);
}

.alt-animate-hover .arrow-hold {
  height: 0;
  border: 1px solid var(--darker-primary);
  width: 20px;
}

.alt-animate-hover:hover .arrow-hold {
  border: 1px solid var(--white);
}

.alt-animate-hover .arrow-hold svg {
  opacity: 0;
  transform: translateX(-20px);
}

.alt-animate-hover:hover .arrow-hold svg {
  stroke: var(--white);
}

.alt-animate-hover .button-text {
  font-size: var(--font-size-md);
  margin-left: 10px;
  transition: transform 500ms;
}

.alt-animate-hover:hover .button-text {
  transform: translateX(5px);
}

body.safari .hide-on-safari {
  display: none;
}

#video-container {
  min-width: 500px;
  width: 30vw;
  height: 90vh;
}

#video-player {
  width: 100%;
  height: auto;
}

#design-and-featured {
  background-color: #f1f2f5;
  width: 100%;
}

#designed-for-developers {
  padding: 5% 10%;
  position: relative;
  background-color: #f1f2f5;
  clip-path: rect(0, 0, 80, 100);
}

#designed-for-developers .title {
  font-size: var(--font-size-xxl);
}

#designed-for-developers .desc {
  width: 90%;
  line-height: 30px;
  margin-top: 5%;
}

#designed-for-developers #circle {
  position: absolute;
  top: 20%;
  left: 20px;
  min-width: 200px;
  width: 10vw;
  z-index: 1;
}

#designed-for-developers .content {
  color: var(--darker-primary);
  position: relative;
  z-index: 10;
}

#designed-for-developers .content #tag {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: var(--font-size-sm);
  background-color: var(--brand-resene);
}

#designed-for-developers #curly {
  display: inline-block;
}

#designed-for-developers #curly > #relative {
  position: relative;
}

#designed-for-developers #curly svg {
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: 0;
  width: 100%;
}

#featured-apis {
  color: var(--darker-primary);
  padding: 5% 10%;
  margin: 0;
  background-color: var(--brand-resene);
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
}

#featured-apis h2.title {
  font-size: var(--font-size-xxl);
}

#api-list .api .api-name {
  font-size: var(--font-size-rl);
}

#api-list .api .api-doc-link {
  gap: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  font-size: var(--font-size-md);
  color: var(--light-primary);
}

#api-list .api .api-doc-link span.circle {
  border-radius: 50%;
  background-color: var(--light-primary);
  color: var(--white);
  width: 26px;
  height: 26px;
  box-shadow: 0 2px 20px rgba(116, 53, 253, 0.526);
  transition: all 300ms;
}

#api-list .api .api-doc-link:hover span.circle {
  width: 27px;
  height: 27px;
}

#api-list .api .api-doc-link span.circle svg {
  width: 80%;
}

#why-and-infrastructure {
  width: 100%;
  background-color: #fcf0d4;
}

#why-fincra {
  color: var(--gray);
  padding: 5% 10%;
  background-color: #fcf0d4;
  overflow-x: hidden;
}

#why-fincra h2.title {
  color: var(--darker-primary);
  font-size: var(--font-size-lg);
  width: 40vw;
}

#why-fincra #pros {
  margin-top: 8%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

#why-fincra #pros .tease {
  gap: 20px;
}

#why-fincra #pros .tease .icon {
  border: 1px solid var(--light-gray);
  padding: 15px;
  border-radius: 50%;
}

#why-fincra #pros .tease .icon svg {
  stroke: var(--darker-primary);
}

#why-fincra #pros .tease .icon svg path {
  fill: var(--darker-primary);
}

#why-fincra #pros .tease .content .title {
  margin-top: 0;
  color: var(--darker-primary);
}

#payment-infrastructure {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  padding: 5% 10%;
  background-color: var(--darkest-primary);
  color: var(--white);
  clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
}

#payment-infrastructure .content > h2.title {
  margin-bottom: 80px;
  width: 50%;
  font-size: var(--font-size-xxl);
}

#payment-infrastructure .content .grid {
  width: 60%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#payment-infrastructure .content .grid .infra .icon {
  stroke: var(--darkest-primary);
}

#payment-infrastructure .content .grid .infra .icon svg {
  height: 60px;
  width: 60px;
}

#payment-infrastructure .content .grid .infra .icon path {
  width: 10vw;
  fill: var(--white);
}

#company-news {
  padding: 5% 8%;
  overflow: hidden;
  position: relative;
}

#company-news h2.title {
  font-size: var(--font-size-xl);
  color: var(--darkest-primary);
  text-align: center;
}

#company-news #container {
  width: 100%;
}

.carousel {
  width: 84vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.carousel img {
  min-width: 100px;
  width: 12vw;
  object-fit: cover;
}

#footer-intro {
  background-color: #f1f2f5;
  padding: 5% 5%;
}

#ready-start {
  border-radius: 20px;
  background-color: var(--white);
  padding: 5%;
}

#ready-start .alt-btn {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary)
}

#ready-start .alt-btn:hover {
  background-color: var(--darker-primary);
  border: 1px solid var(--darker-primary);
}

#ready-start .alt-btn .arrow-hold {
  border: 1px solid var(--white);
}

#ready-start .alt-btn .arrow-hold svg {
  stroke: var(--white);
}

#cbn-license {
  padding: 2% 5%;
}

#cbn-license .content {
  color: var(--darkest-primary);
  gap: 10px;
}

#cbn-license .title, #cbn-license .desc {
  margin: 0;
}

#cbn-license .title {
  margin-bottom: 10px;
}

#cbn-license .desc {
  font-size: 12px;
}

#cbn-license img {
  width: 30px;
}

.nav-ft {
  align-items: flex-start;
  padding: 0 10%;
  border-top: 1px solid #9a9a9a;
  color: var(--darkest-primary);
}

.nav-ft ul {
  list-style-type: none;
  padding: 0;
}

.nav-ft ul li {
  margin-bottom: 20px;
}

.nav-ft ul li a {
  text-decoration: none;
  transition: all 300ms;
}

.nav-ft ul li a:hover {
  color: var(--primary);
}

#footer {
  padding: 2% 10%;
  background-color: var(--darker-primary);
  color: var(--white);
}

#footer .links {
  gap: 20px;
}

#footer .links a {
  text-underline-offset: 5px;
  color: var(--white);
  line-height: 20px;
  font-size: var(--font-size-sm);
}

@media (max-width: 480px) {
  #hero {
    width: 90%;
    height: 100vh !important;
  }

  #content-grid-item-1 h2.title {
    margin-top: 5vh;
    font-size: var(--font-size-lg);
    width: 100%;
  }

  h2.title {
    font-size: var(--font-size-lg);
  }

  #content-grid-item-2 {
    font-size: var(--font-size-sm);
  }

  #content-grid-item-3 {
    margin-top: 10px;
    flex-direction: column;
    gap: 5px;
  }

  #content-grid-item-3 a {
    padding: 13px 25px;
    font-size: var(--font-size-sm);
  }

  #product-hero {
    top: 27%;
    left: -9%;
    width: 120%;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  #content-grid-item-1 h2.title {
    font-size: 6vw;
  }

  #product-hero {
    top: 48%;
  }
}

@media (max-width: 768px) {
  #logo {
    max-width: 70px;
    width: 100%;
  }
  
  .dd-link {
    font-size: 7vw !important;
  }

  main {
    margin-top: 5vh;
  }

  #hero #content {
    left: 9.8vw;
    width: 80%;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    text-align: center;
  }

  #content-grid-item-1 {
    grid-column: span 5;
  }
  
  #content-grid-item-2 {
    grid-column: span 5;
  }
  
  #content-grid-item-3 {
    grid-column: span 5;
  }

  #content-grid-item-3 a {
    margin: 0 auto;
  }

  .brand-container {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  #featured-apis {
    padding: 15% 8%;
  }

  #featured-apis #api-list {
    flex-direction: column;
    align-items: flex-start;
  }

  #why-fincra {
    padding: 10% 8%;
  }

  #payment-infrastructure {
    flex-direction: column-reverse;
    padding-top: 10vh;
  }

  #payment-infrastructure .content > h2.title, #why-fincra h2.title, #designed-for-developers .title {
    width: 100%;
    font-size: var(--font-size-lg);
  }

  #payment-infrastructure .content .grid, #why-fincra #pros {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  #earth-con {
    width: 100vw;
  }

  #company-news h2.title {
    font-size: var(--font-size-rl);
  }

  #ready-start {
    text-align: center;
  }

  #ready-start button {
    margin: 10% auto 0;
  }

  #cbn-license {
    padding: 10%;
  }

  .nav-ft {
    flex-direction: column;
  }

  #footer {
    padding: 5%;
    flex-direction: column;
    gap: 40px;
  }

  #footer .links {
    flex-direction: column;
    gap: 5px;
    font-size: 8px;
  }
}

@media (min-width: 1000px) {
  .--tablet-display {
    display: none;
  }
}

@media (min-width: 720px) {
  #earth-con {
    position: absolute;
    height: 100vh;
    top: 10%;
    right: -40vw;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .--desktop-none {
    display: none;
  }
}

@media (max-width: 1000px) {
  .--tablet-none {
    display: none;
  }

  .dd-link {
    font-size: 5vw;
  }

  .vid-content-container .content .item:first-child {
    margin-top: 10px;
  }

  #video-container {
    width: auto;
    min-width: auto;
    height: auto;
  }

  .vid-content-container .content .item {
    height: auto;
    margin: 0;
    width: 100%;
  }

  .vid-content-container #video-player {
    width: 80vw;
  }

  .vid-content-container .content .item h1 {
    width: 100%;
    font-size: var(--font-size-lg);
  }
}